body > .container {
    padding: 60px 15px 0;
}


img{
        margin: 10px;
    }

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #000 none repeat scroll 0 0 !important;
    color: #fff !important ;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


.none {
    display: none !important;
}

.gray {
    background-color: lightgray;
}

.centering {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading {
    background: url("../img/ajax-loader.gif");
    width: 220px;
    height: 19px;
}



#loadingModal {
    width: 250px;
    height: 59px;
    z-index: 9999;
}

#divLoadingIcon {
    padding-top: 18px;
}




.width15 {
    width: 15%;
}



.displayInLine {
    display: inline;
}

.dialogErrorMessage {
    margin-left: 10px;
}

